<div class="checkbook-print">
<div class="jumbotron">
  <div class="row checkbook">
    <div class ="col-xs-8">
      <h4>Tae S Yoon</h4>
      <h4>Seon Y Yoon</h4>
      <div class="mini">
      <p>3840 Lightfoot st. #342</p>
      <p>Chantilly, Va 20151</p>
      <p>323-378-9749</p>
      </div>
    </div>
    <div class ="col-xs-3">
      <br>
      <label class="col-xs-2 col-form-label">Date</label>
      <div class="col-xs-10">
        {{dateOut}}
      </div>
    </div>
    <div class="check-number">
      <h4>{{checkNumberOut}}</h4>
    </div>
  </div>
  <div class="row checkbook">
    <div class ="col-xs-2">
      <p>Pay to the</p>
      <p>Order of</p>
    </div>
    <div class ="col-xs-7">
      <input class="form-control" type="text" value="void" id="payee-text-input">
    </div>
    <div class="check-number col-xs-3">
        <div class="dollar "><h4>$</h4></div><div class="check-number"><input class="form-control" type="number" value=".00" id="example-number-input"></div>
    </div>
  </div>
  <div class="row checkbook">
    <div class ="col-xs-2">

    </div>
    <div class ="col-xs-7">
      <input class="form-control" type="text" value="" id="payee-text-input">
    </div>
    <div class="check-number col-xs-3">
        <div class="dollar"><h4>dollars</h4></div>
    </div>
  </div>
  <div>
    BANK OF AMERICA
  </div>
  <div class="checkbook">
    <div class ="col-xs-8">
      <p>for</p>
    </div>
    <div class ="col-xs-4">
      <p>Signature</p>
    </div>
  </div>
  <hr class="my-2">
  <div class ="row checkbook">
    <div class="col-xs-1">
    </div>
  <h4>&#305;: 122000661 &#305;: 000311511559 &#305;&#305;' {{checkNumberOut}}</h4>
 </div>
</div>
<div class="jumbotron">
  <div class="row">
    <label for="check-number-input" class="col-xs-2 col-form-label">Check Number</label>
    {{input  type="number" value=checkNumberIn id="check-number-input" }}
  </div>
  <div class="row">
    <label for="date-input" class="col-xs-2 col-form-label">Date</label>
    {{input  type="date" value=dateIn id="date-input" }}
  </div>

</div>
</div>
{{outlet}}
